images/ContentPublish.json
{
  "name": "NEWEST-WORKFLOW-SHOULD-WORK",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27034760-25af-48d4-a781-d417cf364624",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "b87a24c9-21e1-4583-ae32-03f3e846045e",
              "name": "hook",
              "value": "={{ $json.hook }}",
              "type": "string"
            },
            {
              "id": "073e52e4-42e0-4c9b-921c-2a94abd2d918",
              "name": "caption_instagram",
              "value": "={{ $json.caption_instagram }}",
              "type": "string"
            },
            {
              "id": "e62bdcf9-92c6-4b78-baa6-27b9ef1892f0",
              "name": "caption_tiktok",
              "value": "={{ $json.caption_tiktok }}",
              "type": "string"
            },
            {
              "id": "be747fb8-0621-4cfd-a470-611079378c98",
              "name": "caption_youtube",
              "value": "={{ $json.caption_youtube }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        1184
      ],
      "id": "48c387ac-7005-4511-a6df-ab1bdb6e3eeb",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  item.json.ytBody = {\n    snippet: {\n      title: (item.json.metadata?.title) + ': ' + (item.json.metadata?.hook) + \" #shorts\",\n      description: item.json.metadata?.caption_youtube + \"\\n\\n#shorts\",\n      tags: [\n        \"#shorts\",\"#ytshorts\",\"#horrorstories\",\"#scary\",\"#horrorshorts\",\n        \"#creepystories\",\"#watchtilltheend\",\"#disturbing\",\"#paranormal\",\"#dontwatchalone\"\n      ],\n      categoryId: 24\n    },\n    status: {\n      privacyStatus: \"private\",\n      selfDeclaredMadeForKids: false\n    }\n  };\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        1104
      ],
      "id": "154a51f1-bb42-4ea4-a52d-c350f43b59c8",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "fileSelector": "={{ 'C:/Users/Thomas M/Desktop/InstagramContent/Metadata/' +  $json.storyFileName + '_metadata.json' }}",
        "options": {
          "dataPropertyName": "metadata"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -496,
        1104
      ],
      "id": "f1693402-4a4f-47bf-9367-2750d28f8785",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  if (typeof item.json.metadata !== \"string\") {\n    throw new Error(\"Expected item.json.metadata to be a JSON string\");\n  }\n\n  let parsed;\n  try {\n    parsed = JSON.parse(item.json.metadata);\n  } catch (e) {\n    throw new Error(\n      `Failed to parse metadata JSON string: ${e.message}\\n` +\n      `Value: ${item.json.metadata.slice(0, 300)}`\n    );\n  }\n\n  // Flatten fields so Set node can use them easily\n  return {\n    json: {\n      title: parsed.title ?? \"\",\n      hook: parsed.hook ?? \"\",\n      caption_instagram: parsed.caption_instagram ?? \"\",\n      caption_tiktok: parsed.caption_tiktok ?? \"\",\n      caption_youtube: parsed.caption_youtube ?? \"\",\n      fileBase: parsed.path ?? \"\"\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        1104
      ],
      "id": "8494dd84-6eac-43d6-9f6e-0f69cd75a9c3",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "metadata",
        "destinationKey": "metadata",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -272,
        1104
      ],
      "id": "e01c1591-5437-4800-98fe-f7e414524fc5",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        768,
        1104
      ],
      "id": "d3133c95-0063-44ea-a27b-bcbcdc434f98",
      "name": "Merge3"
    },
    {
      "parameters": {
        "fileSelector": "C:\\Users\\Thomas M\\Desktop\\InstagramContent\\HorrorStories\\counter.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1392,
        1104
      ],
      "id": "3bf97f2d-4be0-4ab5-b9f3-daab92519cdd",
      "name": "readCounter.txt1"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "counterValue",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1168,
        1104
      ],
      "id": "3fc0af7f-d4e8-4ab8-92a0-c43c03c78842",
      "name": "Extract from File(Counter)1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0762f82b-5765-4346-a730-39baf9dfe10a",
              "name": "storyNum",
              "value": "={{ parseInt($json.counterValue) }}",
              "type": "string"
            },
            {
              "id": "ea5eb994-c0d7-4fbe-8e43-b8cdbada2471",
              "name": "dateStr",
              "value": "={{ $now.toFormat('yyyy-LL-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        1104
      ],
      "id": "71a328f6-cd51-4ddc-b164-9540c31f7ba0",
      "name": "Compute Primitives1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7933de3f-6ec9-4d79-8dce-14ffe988c305",
              "name": "storyFileName",
              "value": "={{ 'HorrorStory' + $json.storyNum + '_' + $json.dateStr }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        1104
      ],
      "id": "6ce542cf-5f0b-4c33-86e7-14e5e50d2f00",
      "name": "Build Dependent Fields1"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.headers.location }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "Horrorvideo",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1728,
        1088
      ],
      "id": "1c8f2984-9ace-44bd-804f-08290486802b",
      "name": "HTTP Request PUT1",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "HrbtSRDdv1Y1m8Jr",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1280,
        1088
      ],
      "id": "733d9390-49ae-4946-98e3-028f18472303",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const b = item.binary?.Horrorvideo;\n\n  if (!b) {\n    throw new Error('FinalVideo binary missing');\n  }\n\n  // Force-correct the binary metadata\n  item.binary = {\n    Horrorvideo: {\n      ...b,\n      mimeType: 'video/mp4',\n      fileType: 'video/mp4',\n      fileExtension: 'mp4',\n    }\n  };\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        1088
      ],
      "id": "01ba1a2d-127f-494f-b92c-6f262eafe84b",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?uploadType=resumable&part=snippet,status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Upload-Content-Type",
              "value": "video/mp4"
            },
            {
              "name": "X-Upload-Content-Length",
              "value": "={{ $json.fileSize }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=UTF-8"
            },
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "snippet",
              "value": "={{ $json.ytBody.snippet }}"
            },
            {
              "name": "status",
              "value": "={{ $json.ytBody.status }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1088,
        1008
      ],
      "id": "f6afe897-3242-4408-be86-984511710e97",
      "name": "HTTP Request POST1",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "HrbtSRDdv1Y1m8Jr",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "={{ 'C:/Users/Thomas M/Desktop/InstagramContent/HorrorVideos/' + $('Build Dependent Fields1').item.json.storyFileName + '.mp4' }}",
        "options": {
          "dataPropertyName": "Horrorvideo"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        448,
        992
      ],
      "id": "86516db2-eaa1-4e3c-8494-3328935da2bc",
      "name": "Read Video from Disk1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "2725a773-0c3a-4fb2-8138-b84d943d91db",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1648,
        1104
      ]
    },
    {
      "parameters": {
        "sendTo": "slimey.ninja2024@gmail.com",
        "subject": "Completed video",
        "message": "={{ 'Uploaded new video: https://www.youtube.com/shorts/' + $json.id + '\\nTitle: ' + $json.snippet.title }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2224,
        1088
      ],
      "id": "a4658ad1-8e75-4d23-9b5a-708dff5499df",
      "name": "Send a message",
      "webhookId": "0991ac17-cada-4617-ae77-50d0373f245d",
      "credentials": {
        "gmailOAuth2": {
          "id": "S0wDGIZfHsSLdOKF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image"
      },
      "type": "@mookielianhd/n8n-nodes-instagram.instagram",
      "typeVersion": 1,
      "position": [
        -32,
        448
      ],
      "id": "aa83e12a-13fe-476a-813c-d176d9f09e64",
      "name": "Publish"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "update",
        "videoId": "={{ $json.id }}",
        "title": "={{ $('Edit Fields1').item.json.title  }}",
        "regionCode": "US",
        "categoryId": "={{ $json.snippet.categoryId }}",
        "updateFields": {
          "description": "={{ $('Code in JavaScript4').item.json.caption_youtube + $('Code in JavaScript4').item.json.ytBody.snippet.tags + '\\n\\nMusic Credit - \\nComposer: Toby Fox\\nCCA: Materia Music Publishing\\nVideo: https://www.youtube.com/watch?v=jNrJT6lL9J4\\n\\nBackground Video Credit: https://www.youtube.com/watch?v=Lt-k-1eD5bE&t=33s' }}",
          "privacyStatus": "public",
          "tags": "creepystories,disturbing,dontwatchalone,horrorshorts,horrorstories,paranormal,scary,#shorts,watchtilltheend,ytshorts"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1952,
        1088
      ],
      "id": "58a9eb1e-1cc4-4a8d-bdec-a9f96d24edaf",
      "name": "Update a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "HrbtSRDdv1Y1m8Jr",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "@igabm/n8n-nodes-tiktok.tiktok",
      "typeVersion": 2,
      "position": [
        144,
        1408
      ],
      "id": "e0bfdfae-cd08-4218-b26b-72e30fb81fad",
      "name": "Upload video",
      "credentials": {
        "tiktokOAuth2Api": {
          "id": "c17fBcVnHJNCrOhY",
          "name": "TikTok account"
        }
      }
    },
    {
      "parameters": {
        "command": "powershell -Command \"Remove-Item 'C:\\Users\\Thomas M\\Desktop\\InstagramContent\\HorrorStories\\generate_lock.lock' -ErrorAction SilentlyContinue\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        256,
        992
      ],
      "id": "490c54e5-909f-4ef6-a0a4-83b9ef888d5b",
      "name": "Execute Command",
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "mimeType": "application/mp4",
          "fileName": "HorrorStory15_2026-01-12.part.mp4",
          "fileExtension": "mp4",
          "fileSize": "20.4 MB"
        },
        "binary": {
          "data": {
            "mimeType": "application/mp4",
            "fileExtension": "mp4",
            "data": "filesystem-v2",
            "directory": "C:/Users/Thomas M/Desktop/InstagramContent/HorrorVideos",
            "fileName": "HorrorStory15_2026-01-12.part.mp4",
            "id": "filesystem-v2:workflows/NmdnraHll2xvvPGC/executions/600/binary_data/60e51303-861e-48e3-a553-273190080001",
            "fileSize": "20.4 MB"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "HTTP Request POST1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request PUT1": {
      "main": [
        [
          {
            "node": "Update a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "HTTP Request PUT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request POST1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video from Disk1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "readCounter.txt1": {
      "main": [
        [
          {
            "node": "Extract from File(Counter)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File(Counter)1": {
      "main": [
        [
          {
            "node": "Compute Primitives1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Primitives1": {
      "main": [
        [
          {
            "node": "Build Dependent Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dependent Fields1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "readCounter.txt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a video": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Read Video from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "66005325-88e0-42c1-97a8-531223520ee3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "99760253acafc950b45bca9d40f879d0c42df29fd78f9c11e457ea708e011beb"
  },
  "id": "0huoYCudmZmhIQiu",
  "tags": []
}