images/ContentPublish.json
{
  "name": "ContentPublish",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video_ready",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        -160
      ],
      "id": "4bad7a8c-fa89-4861-82b7-bbbf9e85cf66",
      "name": "Webhook",
      "webhookId": "4e7ae601-357e-463d-b9cf-9dfd9609a411"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2446f844-ef3d-4299-80bd-33d18162391d",
              "name": "job_id",
              "value": "={{ $json.body.job_id }}",
              "type": "string"
            },
            {
              "id": "8ae6c0a4-7053-4268-8c9d-4f3fbc55276b",
              "name": "video_path",
              "value": "={{ $json.body.video_path }}",
              "type": "string"
            },
            {
              "id": "f2942913-0992-4681-9890-4b74c563c8d9",
              "name": "metadata_path",
              "value": "={{ $json.body.metadata_path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        -160
      ],
      "id": "89a5e1cc-5721-45c6-9688-4c5fc4049c15",
      "name": "Webhook Payload"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.metadata_path }}",
        "options": {
          "fileExtension": ".txt",
          "dataPropertyName": "metadata"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -224,
        -160
      ],
      "id": "70cabc69-e0fb-44c5-b155-0ddb24c56523",
      "name": "Metadata file"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "metadata",
        "destinationKey": "metadata",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -32,
        -160
      ],
      "id": "8a424fb4-4e15-47ac-a47b-b8a2d4da16c4",
      "name": "Extract from Metadata"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Webhook Payload').item.json.video_path }}",
        "options": {
          "dataPropertyName": "Horrorvideo"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        240,
        -368
      ],
      "id": "a2937765-24e4-4ba5-98ff-5f4c9b36a04e",
      "name": "Read Video from Disk"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        -176
      ],
      "id": "a25e0c80-4597-4097-bc2f-d0827a6c1578",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  item.json.ytBody = {\n    snippet: {\n      title: (item.json.metadata?.title) + ': ' + (item.json.metadata?.hook) + \" #shorts\",\n      description: item.json.metadata?.caption_youtube + \"\\n\\n#shorts\",\n      tags: [\n        \"#shorts\",\"#ytshorts\",\"#horrorstories\",\"#scary\",\"#horrorshorts\",\n        \"#creepystories\",\"#watchtilltheend\",\"#disturbing\",\"#paranormal\",\"#dontwatchalone\"\n      ],\n      categoryId: 24\n    },\n    status: {\n      privacyStatus: \"private\",\n      selfDeclaredMadeForKids: false\n    }\n  };\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -176
      ],
      "id": "6e65fac2-7df1-42d6-80aa-fba5e6010c97",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?uploadType=resumable&part=snippet,status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Upload-Content-Type",
              "value": "video/mp4"
            },
            {
              "name": "X-Upload-Content-Length",
              "value": "={{ $json.fileSize }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=UTF-8"
            },
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "snippet",
              "value": "={{ $json.ytBody.snippet }}"
            },
            {
              "name": "status",
              "value": "={{ $json.ytBody.status }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        976,
        -320
      ],
      "id": "1fbc6b15-e086-4354-add7-95c711762483",
      "name": "HTTP Request POST",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "HrbtSRDdv1Y1m8Jr",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.headers.location }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "Horrorvideo",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1616,
        -192
      ],
      "id": "55e1650b-839a-436d-a6c3-e26b7b7eba08",
      "name": "HTTP Request PUT",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "HrbtSRDdv1Y1m8Jr",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1200,
        -192
      ],
      "id": "404536a9-9f5c-474d-a31b-93bb97214e23",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const b = item.binary?.Horrorvideo;\n\n  if (!b) {\n    throw new Error('FinalVideo binary missing');\n  }\n\n  // Force-correct the binary metadata\n  item.binary = {\n    Horrorvideo: {\n      ...b,\n      mimeType: 'video/mp4',\n      fileType: 'video/mp4',\n      fileExtension: 'mp4',\n    }\n  };\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        -192
      ],
      "id": "6e4cc048-c7b3-4366-a780-a6f0bed68e36",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "update",
        "videoId": "={{ $json.id }}",
        "title": "={{ $json.snippet.title }}",
        "regionCode": "US",
        "categoryId": "={{ $json.snippet.categoryId }}",
        "updateFields": {
          "description": "={{ $json.snippet.description + '\\n' + $json.snippet.tags }}",
          "privacyStatus": "public",
          "tags": "shorts,ytshorts,horrorstories,scary,horrorshorts,creepystories,watchtilltheend,disturbing,paranormal,dontwatchalone"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1824,
        -192
      ],
      "id": "9515c711-9d96-4dbb-a2a1-0f6120bbfcc7",
      "name": "Update a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "HrbtSRDdv1Y1m8Jr",
          "name": "YouTube account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Webhook Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Payload": {
      "main": [
        [
          {
            "node": "Metadata file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadata file": {
      "main": [
        [
          {
            "node": "Extract from Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Metadata": {
      "main": [
        [
          {
            "node": "Read Video from Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read Video from Disk": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request POST",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request POST": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request PUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request PUT": {
      "main": [
        [
          {
            "node": "Update a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f53744ef-17a7-4ad5-864e-8bbfff9ba957",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "99760253acafc950b45bca9d40f879d0c42df29fd78f9c11e457ea708e011beb"
  },
  "id": "8QWixXO3wo6qTlbm",
  "tags": []
}