images/ContentGenerate.json
{
  "name": "ContentGenerate",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "C:\\Users\\Thomas M\\Desktop\\InstagramContent\\HorrorStories\\counter.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        400,
        0
      ],
      "id": "d2fb2336-994c-42a8-9941-2f4fd01c0f0a",
      "name": "readCounter.txt"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "counterValue",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        608,
        0
      ],
      "id": "17316fd8-67d9-4ac8-9cae-af0ce396435b",
      "name": "Extract from File(Counter)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0762f82b-5765-4346-a730-39baf9dfe10a",
              "name": "storyNum",
              "value": "={{ parseInt($json.counterValue)+1 }}",
              "type": "string"
            },
            {
              "id": "ea5eb994-c0d7-4fbe-8e43-b8cdbada2471",
              "name": "dateStr",
              "value": "={{ $now.toFormat('yyyy-LL-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        0
      ],
      "id": "79a26ce2-a955-47f2-b72b-49844990882b",
      "name": "Compute Primitives"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7933de3f-6ec9-4d79-8dce-14ffe988c305",
              "name": "storyFileName",
              "value": "={{ 'HorrorStory' + $json.storyNum + '_' + $json.dateStr }}",
              "type": "string"
            },
            {
              "id": "6a6eda4d-4a49-4194-bd5b-c24237d05342",
              "name": "newCounterValue",
              "value": "={{ parseInt($json.storyNum, 10) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        0
      ],
      "id": "a8e9e7d8-bc25-4473-ace4-607dd422c5cf",
      "name": "Build Dependent Fields"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "newCounterValue",
        "binaryPropertyName": "newCounterValue",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1232,
        0
      ],
      "id": "316b8db1-c256-4943-9f67-d712b294c42a",
      "name": "Pull New Counter Value"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=C:\\Users\\Thomas M\\Desktop\\InstagramContent\\HorrorStories\\counter.txt",
        "dataPropertyName": "newCounterValue",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1440,
        0
      ],
      "id": "7209b203-7306-4fcd-ac81-8c8e3559a922",
      "name": "Update Counter File"
    },
    {
      "parameters": {
        "content": "Creates File Title\n",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        -112
      ],
      "id": "785c4a99-817b-434c-9466-5396a102ad5f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ 'C:/Users/Thomas M/Desktop/InstagramContent/HorrorStories/' + $('Build Dependent Fields').item.json.storyFileName+'.txt' }}",
        "dataPropertyName": "HorrorStory",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1008,
        336
      ],
      "id": "d5fca3ff-a60c-4718-b47b-b4a86d154d95",
      "name": "Write Horror Story to vscode"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8e78eb1a-e253-422b-86f0-af13330673fc",
              "name": "Story",
              "value": "= {{ $json.output[0].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        336
      ],
      "id": "8bd99c9e-dcce-4e8d-b5db-3673851697c2",
      "name": "Set Story Value"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "Story",
        "binaryPropertyName": "HorrorStory",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        784,
        336
      ],
      "id": "48433f04-62b4-46b7-936e-24b018d88023",
      "name": "Create txt File from Story"
    },
    {
      "parameters": {
        "content": "Generates Horror Story + Add to vscode\n",
        "height": 80,
        "width": 294
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        544,
        224
      ],
      "id": "b3d11699-ce71-486b-a509-94806ba8d0d6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Generates metadata for video (JSON) + Add to vscode\n",
        "height": 80,
        "width": 294
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        784,
        560
      ],
      "id": "93180632-30b1-4de0-a086-6a21b9320d7e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "meta-llama-3.1-8b-instruct",
          "mode": "list",
          "cachedResultName": "META-LLAMA-3.1-8B-INSTRUCT"
        },
        "responses": {
          "values": [
            {
              "content": "IMPORTANT CONTEXT RESET:\nYou must NOT use, recall, reference, or be influenced by any previous prompts, conversations, outputs, or stories.\nTreat this prompt as the ONLY context.\nDo not reuse names, situations, structures, or phrasing from any prior generation. This also means writing an interesting hook in the beginning to capture the audience, not always starting with the same first sentence.\n\nYou are writing an original horror short story.\n\nBefore writing the story, silently choose ONE option from EACH category below.\nDo NOT reveal your choices.\n\nCHARACTER CONSTRAINTS:\n- Use exactly 0, 1, 2, or 3 named characters (choose randomly).\n- If names are used, they must be new, uncommon, and not reused from any previous story.\n- Avoid common English names.\n- Prefer uncommon names, surnames-as-first-names, or culturally varied names.\n- Do not reuse a name once chosen.\n- If unsure, invent a plausible but uncommon name.\n\nPOV (choose one):\n- First-person\n- Close third-person\n- Second-person\n- Objective, external-only narration\n- Epistolary (letters, emails, logs, reports)\n- Found footage or transcript style\n- Testimony or deposition\n- Instructional or procedural voice\n- Collective “we” narration\n- Unreliable first-person\n- Alternating limited perspectives\n- Fragmented documents only\n- Clinical or professional voice\n- Present-tense observation\n- Retrospective confession\n\nHORROR MODE (choose one):\n- Psychological\n- Social\n- Existential\n- Body (non-gory)\n- Institutional\n- Routine distortion\n- Identity erosion\n- Surveillance or observation\n- Monster or alien presence\n- Cosmic indifference\n- Paranoia\n- Isolation\n- Contagion (social or physical)\n- Environmental hostility\n- Bureaucratic nightmare\n- Predestination\n- Memory decay\n- Moral corrosion\n- Control versus obedience\n- Unseen predator\n- Technological dread\n- Folk horror (restrained)\n- Invasion of privacy\n- Dependency horror\n\nSETTING (choose one):\n- Home\n- Apartment building\n- Workplace\n- Factory or warehouse\n- School\n- University campus\n- Hospital\n- Clinic or care facility\n- Transit (train, subway, bus, plane)\n- Highway or roadside stop\n- Public building after hours\n- Library or archive\n- Online or digital space\n- Moderation queue or call center\n- Outdoor rural area\n- Farm or fields\n- Ship or offshore platform\n- Submarine or enclosed vessel\n- Graveyard or cemetery\n- Funeral home\n- Old forest\n- Park or nature reserve\n- Cave system\n- Tunnel or underground passage\n- Abandoned town\n- Border crossing\n- Hotel or motel\n- Construction site\n- Storage facility\n- Religious building\n- Military or research installation\n\nSOURCE OF WRONGNESS (choose one):\n- A person acting almost normally\n- A system functioning exactly as intended\n- A rule that cannot be broken\n- A routine that punishes deviation\n- Time behaving inconsistently\n- Missing or erased information\n- Subtle physical change\n- Social pressure or consensus\n- Someone remembers events differently each time\n- A person performs care perfectly but without variance\n- Someone refuses to acknowledge an obvious absence\n- A trusted figure defers decisions to someone unseen\n- A process completes itself without user input\n- Compliance creates worse outcomes than resistance\n- Errors are logged but never corrected\n- Records exist for events no one recalls\n- Effects consistently precede causes\n- Repetition occurs with unsettling variation\n- Gaps in time are noticed only through consequences\n- Objects return to approximate positions\n- The narrator stops recognizing familiar things\n- Written rules contradict spoken ones\n- Internal thoughts no longer match actions\n- A space subtly resists being altered\n- Rooms are dimensionally wrong but functional\n- Silence is treated as participation\n- Refusal is interpreted as consent\n- Help requires surrendering autonomy\n- Observation changes outcomes\n- Care is conditional on compliance\n- Everyone agrees the narrator is mistaken\n- Concern is framed as selfishness\n- Deviation triggers quiet escalation\n- The wrongness is statistically insignificant\n- The system improves after harm occurs\n\nENDING TYPE (choose one):\n- Irreversible action\n- Permanent physical change\n- Moral compromise\n- Loss of autonomy\n- Forced participation\n- Replacement or erasure\n- Absorption into a system\n- Horror becomes normalized\n- The narrator completes an action they resisted\n- Control is transferred temporarily and never returned\n- Decisions are made without the narrator’s input\n- The narrator enforces a rule they opposed\n- Harm is reframed as care\n- Responsibility is diffused until untraceable\n- The narrator adopts procedural language\n- A role replaces personal identity\n- Memories are deprioritized in favor of stability\n- The narrator becomes infrastructure\n- Removal becomes impossible without collapse\n- The narrator inherits unresolved duties\n- Someone else occupies the narrator’s former place\n- Records quietly update to a new reality\n- Absence becomes indistinguishable from replacement\n- The narrator plans around the horror\n- The final act is mundane and administrative\n- The narrator prepares another person\n- The body adapts without comment\n- Discomfort becomes baseline\n- The system now requires the narrator\n- The horror is acknowledged only through logistics\n- Routine continues uninterrupted\n- The narrator stops attempting resistance\n- The ending shows continuity, not closure\n\nWRITING REQUIREMENTS:\n- 500–750 words\n- Serious, grounded tone\n- No comedy, no camp\n- No overt explanations\n- Avoid clichés and familiar horror tropes\n- Let implications and concrete detail carry meaning\n- The ending must SHOW consequences, not merely reveal them\n\nBegin the story immediately.\nDo not include a title, preface, or explanation.\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        224,
        336
      ],
      "id": "b1ae0054-801a-46cc-8ef4-2620ca426c4e",
      "name": "Generate Horror Story",
      "credentials": {
        "openAiApi": {
          "id": "JCfXlzmwWXSikEm9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "meta-llama-3.1-8b-instruct",
          "mode": "list",
          "cachedResultName": "META-LLAMA-3.1-8B-INSTRUCT"
        },
        "responses": {
          "values": [
            {
              "content": "=You are writing metadata for short-form horror videos.\n\nGiven the story below, produce:\n\n1) ONE punchy TITLE (max 55 characters).\n2) ONE short HOOK sentence to display as the first subtitle line (max 12 words).\n3) An Instagram Reels caption:\n   - 1–2 sentences\n   - 6–10 relevant hashtags\n4) A TikTok caption:\n   - 1–2 sentences\n   - casual, storytime tone\n   - 4–8 hashtags\n5) A YouTube Shorts caption:\n   - 1–2 sentences\n   - minimal hashtags (2–4), may include #shorts\n\nRules:\n- Make it intriguing, not clickbait.\n- No explicit gore, no slurs.\n- Keep hashtags relevant to horror, mystery, and storytelling.\n- Do NOT repeat hashtags excessively across platforms.\n\nReturn JSON exactly in this schema (match EXACTLY):\n\n{\n  \"title\": \"...\",\n  \"hook\": \"...\",\n  \"captions\": {\n    \"instagram\": \"...\",\n    \"tiktok\": \"...\",\n    \"youtube\": \"...\"\n  }\n}\n\nSTORY:\n{{ $('Set Story Value').item.json.Story }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        224,
        672
      ],
      "id": "f22d8e49-7408-4de7-8010-114626b3f4c2",
      "name": "Generate Metadata",
      "credentials": {
        "openAiApi": {
          "id": "JCfXlzmwWXSikEm9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "62a395fb-9b0f-4145-9444-a7aaafe8d416",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "9cdf6f17-ed58-4516-a025-baffa89258de",
              "name": "hook",
              "value": "={{ $json.hook }}",
              "type": "string"
            },
            {
              "id": "49e27d0f-15fb-4625-b1e2-64c4f6ac51c1",
              "name": "caption_instagram",
              "value": "={{ $json.captions.instagram }}",
              "type": "string"
            },
            {
              "id": "bce81c47-4bc7-423b-9358-59c2666fe621",
              "name": "caption_tiktok",
              "value": "={{ $json.captions.tiktok }}",
              "type": "string"
            },
            {
              "id": "4516746e-9c44-4b62-9f86-2c421842c6c3",
              "name": "caption_youtube",
              "value": "={{ $json.captions.youtube }}",
              "type": "string"
            },
            {
              "id": "3fb25d61-3b17-4337-bef6-d8b239622c1e",
              "name": "PATH",
              "value": "={{ $('Build Dependent Fields').item.json.storyFileName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        672
      ],
      "id": "33c51ee7-61ef-4341-8e22-e3a202d8cae4",
      "name": "Set Metadata"
    },
    {
      "parameters": {
        "jsCode": "// Grab the JSON string the model returned\nconst raw = $json.output?.[0]?.content?.[0]?.text;\n\nif (!raw) {\n  throw new Error(\"No model output found at output[0].content[0].text\");\n}\n\n// Parse it\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  throw new Error(\"Model output was not valid JSON:\\n\" + raw);\n}\n\n// Return parsed fields into $json\nreturn [{\n  json: {\n    title: parsed.title,\n    hook: parsed.hook,\n    captions: parsed.captions,\n    // keep original too if you want:\n    raw,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        672
      ],
      "id": "66205774-8631-4e6e-b586-688c27308b22",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "775c4b3c-e04f-40b2-8e3f-c769460873a5",
              "name": "metadata",
              "value": "={{ JSON.stringify({ title: $json.title, hook: $json.hook, caption_instagram: $json.caption_instagram, caption_tiktok: $json.caption_tiktok, caption_youtube: $json.caption_youtube, path: $json.PATH }, null, 2) }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        672
      ],
      "id": "965f3039-61a0-44af-a869-e7804db1cc03",
      "name": "One variable"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "=metadata",
        "binaryPropertyName": "=metadata",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1408,
        672
      ],
      "id": "0d3acc13-322d-4668-ba8e-accbe3662340",
      "name": "Convert to TextFile"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ 'C:/Users/Thomas M/Desktop/InstagramContent/Metadata/' + $('Build Dependent Fields').item.json.storyFileName + '_metadata.json' }}",
        "dataPropertyName": "=metadata",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1616,
        672
      ],
      "id": "5a7eced1-e89d-4874-ab92-bbdb7105a84d",
      "name": "Write Metadata into vscode"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 50
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        -224
      ],
      "id": "12ee5403-745c-4b22-9165-b617bfb9c732",
      "name": "Schedule Trigger",
      "executeOnce": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "3e557383-7827-46e2-b623-1e5c0188b58b",
              "leftValue": "={{ 'C:/Users/Thomas M/Desktop/InstagramContent/HorrorVideos/' + $json.fileName }}",
              "rightValue": "={{ 'C:/Users/Thomas M/Desktop/InstagramContent/HorrorVideos/' + $('Build Dependent Fields').item.json.storyFileName + '.part.mp4' }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        944,
        944
      ],
      "id": "70957578-5e8b-48a3-9b25-358fe76347c1",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 35,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        944
      ],
      "id": "1dd81add-b7ac-4112-a034-f4110d35d985",
      "name": "Wait",
      "webhookId": "cf6ba7dd-d9af-43a9-973d-62f614c7b3b8"
    },
    {
      "parameters": {
        "fileSelector": "={{ 'C:/Users/Thomas M/Desktop/InstagramContent/HorrorVideos/' + $('Build Dependent Fields').item.json.storyFileName + '.part.mp4' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        752,
        944
      ],
      "id": "a04df58c-519f-44a7-b77d-cc517793c1a8",
      "name": "FINALREADPART",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1184,
        864
      ],
      "id": "e5b1b4d1-e637-411f-9a87-888dd87ea6b6",
      "name": "Wait1",
      "webhookId": "1cb87b05-51ac-4dfe-97a6-330175acb4fa"
    },
    {
      "parameters": {
        "content": "Thinking of adding if statement incase model doesnt generate JSON, and then to tell it to reformat and make sure its in JSON",
        "height": 112,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        304,
        576
      ],
      "id": "9b37fdec-2da0-42fc-89e1-e01dbc7a0923",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0huoYCudmZmhIQiu",
          "mode": "list",
          "cachedResultUrl": "/workflow/0huoYCudmZmhIQiu",
          "cachedResultName": "NEWEST-WORKFLOW-SHOULD-WORK"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1184,
        1008
      ],
      "id": "1d216513-df8a-444c-af7e-2fab278a2a3e",
      "name": "Call 'NEWEST-WORKFLOW-SHOULD-WORK'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0huoYCudmZmhIQiu",
          "mode": "list",
          "cachedResultUrl": "/workflow/0huoYCudmZmhIQiu",
          "cachedResultName": "NEWEST-WORKFLOW-SHOULD-WORK"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1376,
        864
      ],
      "id": "d4dec3ac-74bf-4f7a-9d7b-236a3ea1a1d8",
      "name": "Call 'NEWEST-WORKFLOW-SHOULD-WORK'1"
    },
    {
      "parameters": {
        "fileSelector": "C:\\Users\\Thomas M\\Desktop\\InstagramContent\\HorrorStories\\generate_lock.lock",
        "options": {
          "dataPropertyName": "lock"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -240,
        -224
      ],
      "id": "050456e0-9213-4aa9-aef7-6a2bb1ca1ecf",
      "name": "Read/Write Files from Disk",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "17821691-867b-4659-bc2e-e700c62feae0",
              "leftValue": "={{ $json.fileName }}",
              "rightValue": "generate_lock.lock",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16,
        -224
      ],
      "id": "d59fd2fd-e14c-489e-b76a-4feba7eb3bbe",
      "name": "If1"
    },
    {
      "parameters": {
        "errorMessage": "Lock system been found, don't start this execution"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        592,
        -240
      ],
      "id": "d614d596-e159-46d5-825e-9f2bac8ab56e",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "command": "powershell -Command \"Remove-Item 'C:\\Users\\Thomas M\\Desktop\\InstagramContent\\HorrorStories\\generate_lock.lock' -ErrorAction SilentlyContinue\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        400,
        -240
      ],
      "id": "ab75146e-9668-4781-a0d9-3c5d64be4c92",
      "name": "Execute Command1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "powershell -NoProfile -Command \"New-Item -ItemType File -Force -Path 'C:\\Users\\Thomas M\\Desktop\\InstagramContent\\HorrorStories\\generate_lock.lock' | Out-Null\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        176,
        0
      ],
      "id": "8b218a0a-6934-49ff-a0c5-55247d866bf7",
      "name": "Execute Command2"
    }
  ],
  "pinData": {},
  "connections": {
    "readCounter.txt": {
      "main": [
        [
          {
            "node": "Extract from File(Counter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File(Counter)": {
      "main": [
        [
          {
            "node": "Compute Primitives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Primitives": {
      "main": [
        [
          {
            "node": "Build Dependent Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dependent Fields": {
      "main": [
        [
          {
            "node": "Pull New Counter Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull New Counter Value": {
      "main": [
        [
          {
            "node": "Update Counter File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Counter File": {
      "main": [
        [
          {
            "node": "Generate Horror Story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Story Value": {
      "main": [
        [
          {
            "node": "Create txt File from Story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create txt File from Story": {
      "main": [
        [
          {
            "node": "Write Horror Story to vscode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Horror Story to vscode": {
      "main": [
        [
          {
            "node": "Generate Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Horror Story": {
      "main": [
        [
          {
            "node": "Set Story Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Metadata": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Metadata": {
      "main": [
        [
          {
            "node": "One variable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Set Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "One variable": {
      "main": [
        [
          {
            "node": "Convert to TextFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to TextFile": {
      "main": [
        [
          {
            "node": "Write Metadata into vscode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Metadata into vscode": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "FINALREADPART",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINALREADPART": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'NEWEST-WORKFLOW-SHOULD-WORK'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Call 'NEWEST-WORKFLOW-SHOULD-WORK'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Command2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command2": {
      "main": [
        [
          {
            "node": "readCounter.txt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "7078ccc6-ea34-4493-91d2-398be5e2eb46",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "99760253acafc950b45bca9d40f879d0c42df29fd78f9c11e457ea708e011beb"
  },
  "id": "NmdnraHll2xvvPGC",
  "tags": []
}