images/InstagramContent.json
{
  "name": "InstagramContent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ad24f46d-e094-4db7-bd0d-1dbbe886a30a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "C:\\Users\\Thomas M\\Desktop\\InstagramContent\\HorrorStories\\counter.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        192,
        0
      ],
      "id": "d2fb2336-994c-42a8-9941-2f4fd01c0f0a",
      "name": "readCounter.txt"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "counterValue",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        400,
        0
      ],
      "id": "17316fd8-67d9-4ac8-9cae-af0ce396435b",
      "name": "Extract from File(Counter)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0762f82b-5765-4346-a730-39baf9dfe10a",
              "name": "storyNum",
              "value": "={{ parseInt($json.counterValue)+1 }}",
              "type": "string"
            },
            {
              "id": "ea5eb994-c0d7-4fbe-8e43-b8cdbada2471",
              "name": "dateStr",
              "value": "={{ $now.toFormat('yyyy-LL-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        0
      ],
      "id": "79a26ce2-a955-47f2-b72b-49844990882b",
      "name": "Compute Primitives"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7933de3f-6ec9-4d79-8dce-14ffe988c305",
              "name": "storyFileName",
              "value": "={{ 'HorrorStory' + $json.storyNum + '_' + $json.dateStr + '.txt' }}",
              "type": "string"
            },
            {
              "id": "6a6eda4d-4a49-4194-bd5b-c24237d05342",
              "name": "newCounterValue",
              "value": "={{ parseInt($json.storyNum, 10) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        0
      ],
      "id": "a8e9e7d8-bc25-4473-ace4-607dd422c5cf",
      "name": "Build Dependent Fields"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "newCounterValue",
        "binaryPropertyName": "newCounterValue",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1024,
        0
      ],
      "id": "316b8db1-c256-4943-9f67-d712b294c42a",
      "name": "Pull New Counter Value"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=C:\\Users\\Thomas M\\Desktop\\InstagramContent\\HorrorStories\\counter.txt",
        "dataPropertyName": "newCounterValue",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1232,
        0
      ],
      "id": "7209b203-7306-4fcd-ac81-8c8e3559a922",
      "name": "Update Counter File"
    },
    {
      "parameters": {
        "content": "Creates File Title\n",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        -112
      ],
      "id": "785c4a99-817b-434c-9466-5396a102ad5f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "meta-llama-3.1-8b-instruct",
          "mode": "list",
          "cachedResultName": "META-LLAMA-3.1-8B-INSTRUCT"
        },
        "responses": {
          "values": [
            {
              "content": "      You are a skilled horror fiction writer.\n\n  Write a self-contained horror short story between 500 and 750 words.\n\n  STYLE & TONE:\n  - Slow-burn, atmospheric horror\n  - Serious and unsettling, not comedic\n  - Focus on psychological dread rather than gore\n  - Language should be vivid, sensory, and precise\n  - Favor specificity over abstraction\n\n  STRUCTURE:\n  - Use a clear beginning, middle, and end\n  - The final section must contain a concrete, disturbing development (not just a reveal)\n  - The ending should recontextualize earlier details in an unsettling way\n  - Avoid exposition dumps; reveal information gradually\n  - Maintain consistent pacing throughout\n\n  NARRATIVE CONSTRAINTS:\n  - Write in first person\n  - Set the story in a familiar, ordinary place made unsettling\n  - Limit the number of characters (1–3 total)\n  - The horror should stem from something subtly “wrong,” not overt monsters\n\n  ENDING REQUIREMENTS:\n  - The story must conclude with a specific implication or consequence\n  - Do not end immediately after a realization; show its impact through action or observation\n  - Avoid summarizing the horror in abstract terms\n\n  WRITING GUIDELINES:\n  - Use complete sentences and natural paragraph breaks\n  - Avoid clichés, stock phrases, and familiar horror language\n  - Do not explain the horror directly; let implications and details carry meaning\n  - Keep the prose grounded and realistic\n\n  Begin the story immediately. Do not include a title or preface."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        16,
        336
      ],
      "id": "b1ae0054-801a-46cc-8ef4-2620ca426c4e",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "JCfXlzmwWXSikEm9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ 'C:/Users/Thomas M/Desktop/InstagramContent/HorrorStories/' + $('Build Dependent Fields').item.json.storyFileName }}",
        "dataPropertyName": "HorrorStory",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        784,
        336
      ],
      "id": "d5fca3ff-a60c-4718-b47b-b4a86d154d95",
      "name": "Write Horror Story to vscode"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8e78eb1a-e253-422b-86f0-af13330673fc",
              "name": "Story",
              "value": "= {{ $json.output[0].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        336
      ],
      "id": "8bd99c9e-dcce-4e8d-b5db-3673851697c2",
      "name": "Set Story Value"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "Story",
        "binaryPropertyName": "HorrorStory",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        576,
        336
      ],
      "id": "48433f04-62b4-46b7-936e-24b018d88023",
      "name": "Create txt File from Story"
    },
    {
      "parameters": {
        "content": "Generates Horror Story + Add to vscode\n",
        "height": 80,
        "width": 294
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        544,
        224
      ],
      "id": "b3d11699-ce71-486b-a509-94806ba8d0d6",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "readCounter.txt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "readCounter.txt": {
      "main": [
        [
          {
            "node": "Extract from File(Counter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File(Counter)": {
      "main": [
        [
          {
            "node": "Compute Primitives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Primitives": {
      "main": [
        [
          {
            "node": "Build Dependent Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dependent Fields": {
      "main": [
        [
          {
            "node": "Pull New Counter Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull New Counter Value": {
      "main": [
        [
          {
            "node": "Update Counter File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Counter File": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Set Story Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Story Value": {
      "main": [
        [
          {
            "node": "Create txt File from Story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create txt File from Story": {
      "main": [
        [
          {
            "node": "Write Horror Story to vscode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Horror Story to vscode": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "92122aea-8cdc-4b42-a412-bedd44695c8c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "99760253acafc950b45bca9d40f879d0c42df29fd78f9c11e457ea708e011beb"
  },
  "id": "NmdnraHll2xvvPGC",
  "tags": []
}